.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-logo{
    margin-top: 100px;
}
@media only screen and (min-width: 1440px) {
    .home-section{
        background-image: url("/img/home/desk.png");
    }
.home-logo {
    margin-top: 170px;
}
}
/* Concept */
.concept-container{
    padding-top: 80px;
    background-image: url("/img/concept/mob.png");
    background-repeat: no-repeat;
    background-position: top 120px center;
    background-size: contain;
}
.concept-text{
    margin-top: 170px;
}
.span{
    font-weight: 700;
}
@media only screen and (min-width: 1440px) {
 .concept-container{
    padding-top: 150px;
    background-image: url("/img/concept/desk.png");
        background-repeat: no-repeat;
        background-position: top 210px left 185px;
        background-size: 411px 262px;
 }
.concept-text{
    margin-top: 50px;
    width: 630px;
    margin-left: auto;
    margin-right: 0;
}
}