.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-logo{
    margin-top: 100px;
}
@media only screen and (min-width: 1440px) {
    .home-section{
        background-image: url("/img/home/desk.png");
    }
.home-logo {
    margin-top: 170px;
}
}
/* Concept */
.concept-container{
    padding-top: 80px;
    background-image: url("/img/concept/mob.png");
    background-repeat: no-repeat;
    background-position: top 120px center;
    background-size: contain;
}
.concept-text{
    margin-top: 170px;
}
.span{
    font-weight: 700;
}
@media only screen and (min-width: 1440px) {
 .concept-container{
    padding-top: 150px;
    background-image: url("/img/concept/desk.png");
        background-repeat: no-repeat;
        background-position: top 210px left 185px;
        background-size: 411px 262px;
 }
.concept-text{
    margin-top: 50px;
    width: 630px;
    margin-left: auto;
    margin-right: 0;
}
}
/* Core Mechanics */
.core-img{
    margin-bottom: 22px;
    margin-top: 22px;
}
.core-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 18px;
}
.core-item{
    display: flex;
    align-items: start;
    gap: 4px;
}
.core-item p{
width: 266px;
}
.core-list-two{
    margin-top: 18px;
}
@media only screen and (min-width: 1440px) {
 .core-wrapper{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
 }
 .core-img{
    order: 2;
    margin-bottom: 0;
    margin-top: 0;
    width: 414px;
        height: 339px;
 }
 .core-list{
    order: 1;
 }
 .core-list-two{
    margin-top: 0;
    order: 3;
 }
}
/* Energy System */
.energy-section{
    background-image: url("/img/energy/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    mix-blend-mode: screen;
height: 550px;
}
.energy-arrow{
    display: none;
}
.energy-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.energy-item{
    display: flex;
    gap: 6px;
}
.energy-item-text{
border: 1px solid #5ee6a8;
    padding: 16px 22px;
    width: 211px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 1440px) {
 .energy-arrow{
    display: block;
 }
 .energy-section{
    background-image: url("/img/energy/desk.png");
    height: 600px;
 }
 .energy-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;
 }
}
/* Progression */
.progression-container{
    background-image: url("/img/progression/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}
.progression-wrapper{
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.progression-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
width: 165px;
}
.p1{
    margin-left: auto;
    margin-right: 0;
}
.progression-item-title{
    font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        text-transform: uppercase;
        color: #5ee6a8;
}
.p2{
    margin-top: 67px;
}
.p3{
    margin-top: 78px;
    margin-left: auto;
        margin-right: 0;
}
.p4{
    margin-top: 47px;
    width: 145px;
}
.p5{
    margin-top: 97px;
    margin-left: auto;
        margin-right: 0;
}
@media only screen and (min-width: 1440px) {
.progression-container {
        background-image: url("/img/progression/desk.png");
background-position: bottom 80px center;
background-size: 891px 472px;
}
.progression-wrapper{
    margin-left: auto;
    margin-right: auto;
position: relative;
width: 891px;
    height: 472px;
}
.progression-item{
    width: 210px;
    position: absolute;
    align-items: start;
}
.p1{
right: 70px;
top: 30px;
}
.p2{
    bottom: 116px;
    right: 131px;
}
.p3{
right: 340px;
    top: 100px;
}
.p4{
    bottom: 0;
        left: 210px;
}
.p5{
    bottom:60px;
        left: -30px;
}
}
/* Modes */
.modes-subtitle{
    font-size: 18px;
    margin-bottom: 22px;
}
.my-swiper .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5ee6a8;
        padding: 12px;
        text-align: center;
}
.title-slide-wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        text-transform: uppercase;
        color: #5ee6a8;
        margin-top: 8px;
        margin-bottom: 4px;
}
@media only screen and (min-width: 1440px) {
 .modes-subtitle{
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
 }
 .my-swiper .swiper-wrapper{
    justify-content: center;
    gap: 20px;
 }
 .my-swiper .swiper-slide{
width: 413px;
    height: 332px;
 }
  .my-swiper .swiper-slide p{
    width: 380px;
  }
}